/* Shared Css */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');
* {
    font-family: "Atkinson Hyperlegible", sans-serif;
}
.container {
    width: 100%;
    margin: 0 auto;
}



/* ################# Header Part CSS ################# */

/* nav part */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    margin: 20px 0;
}
.nav-title > span{
    color: #FF5400;
}
nav > ul {
    display: flex;
}  
nav li {
    list-style: none;
    margin-left: 20px;
    font-weight: 500;
}
nav li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.05rem;
}
nav li a span{
    color: #FF5400;
}
.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* banner part */
.banner {
    height: 500px;
    background: linear-gradient(to bottom, #080212b3, #07021100), url('/assets/images/group13.png') center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.banner-content {
    max-width: 800px;
    padding: 20px;
}
.banner-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.banner-content p {
    font-size: 1em;
    margin-bottom: 20px;
}
.search-bar-container {
    display: flex;
    background: #ffffff59;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
    box-shadow: 0 2px 4px #00000033;
}
.search-input, .search-select, .search-button {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-button {
    background-color: #ff5722;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0;
}
.search-button svg {
    margin-right: 5px;
}



/* ################# Main Part CSS ################# */

/* Popular Tours Part CSS */
.popular-tours {
    margin: 40px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.content {
    margin: 10px 0;
    flex: 1;
}
.content h2 {
    font-size: 1.75rempx;
    margin-bottom: 10px;
}
.content p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}
.content ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 10px;
}
.content ul li {
    margin-bottom: 5px;
}
.read-more {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.image-container img {
    max-width: 100%;
    border-radius: 10px;
}

/* Destination Part CSS */
.destinatio-part {
    text-align: center;
    padding: 20px 0;
}
.destinatio-part h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.destinatio-part p {
    color: #666;
    margin-bottom: 2em;
}
.first-row, .second-row, .third-row {
    display: grid;
    width: 100%;
    justify-content: center;
}
.first-row {
    grid-template-columns: 50% 50%;
}
.second-row {
    grid-template-columns: 35% 40% 25%;
}
.third-row {
    grid-template-columns: 40% 60%;
}
.grid-item {
    position: relative;
    padding: 10px;
    text-align: center;
}
.grid-item img {
    width: 100%;
    height: 250px;
    display: block;
}
.grid-item .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: 600;
    color: white; 
    border-radius: 5px;
    padding: 10px;
}

/* Details Part CSS */
.details{
    margin: 30px 0;
}
.cart-container {
    display: flex;
    flex-direction: column;
}
.choose{
    text-align: center;
}
.choose h2{
    margin: 0;
    font-size: 2.5rem;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 20px; 
}
.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; 
    border-radius: 10px; 
}
.cart-1{
    background-color: #fbb5651c;
    border: 1px solid #fbb5654f; 
}
.cart-2{
    background-color: #28cdf61c;
    border: 1px solid #28cdf64f; 
}
.cart-3{
    background-color: #e944441c;
    border: 1px solid #e944444f; 
}
.grid-container > .cart:last-child {
    margin: 0 25%;
    grid-column: span 2; 
}

/* Extra Part CSS */
.client-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.client-header{
    font-size: 2.5rem;
    margin-bottom: 0;
    text-align: center;
}
.client-description{
    margin: 0;
    text-align: center;
}
.reviewer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.client-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.client-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.client-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.client-card h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5rem;
}
.client-card p {
    color: #666;
    line-height: 1.6;
}

/* Form Part CSS */
.form-container {
    display: flex;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 30px 0;
}
.newsletter {
    padding: 20px;
    border: 1px solid #ffa500;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.newsletter h2 {
    font-size: 1.5em;
    margin-bottom: 0;
}
.newsletter p {
    margin-bottom: 0;
    color: #666;
}
.newsletter hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #cccccc;
}
.newsletter form {
    display: flex;
    flex-direction: column;
}
.newsletter input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.newsletter button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff5400;
    color: white;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}
.newsletter button:hover {
    background-color: #e65c00;
}
.promotion {
    width: 60%;
    position: relative;
}
.image-container {
    position: relative;
}
.promotion img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.promo-banner {
    position: absolute;
    bottom: 50px;
    right: 15px;
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transform: rotate(-25deg);
    text-align: center;
}
.promo-banner p {
    margin: 0;
    font-size: 1.25em;
    font-weight: 300;
}
.promo-banner h1{
    margin: 0;
}



/* ################# Footer Part CSS ################# */
.footer-section{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer-title{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
.footer-title > span{
    color: #FF5400;
}
.footer-description{
    margin: 10px 15%;
}
.social-icons svg{
    padding: 5px 10px;
}
.footer-section hr{
    width: 95%;
    margin: 20px 0;
    border: 0;
    border-top: 2px solid #cccccc;
}
.bg{
    background-color: #13131828;
    margin: 0 auto;
}





/* ################# Responsive Design ################# */
@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }

    /* nav part */
    .nav-link{
        display: none;
    }
    .nav-toggle {
        display: inline;
    }
    /* banner part */
    .banner-content h1{
        margin-bottom: 8px;
    }
    .banner-content p{
        margin-bottom: 8px;
    }
    .search-bar-container{
        display: flex;
        flex-direction: column;
    }
    .search-button {
        padding: 8px 0;
    }

    /* Polpular Tours Part CSS */
    .popular-tours {
        flex-direction: column;
    }
    .image-container {
        padding: 0;
    }
    .first-row, .second-row, .third-row {
        grid-template-columns: 100%; 
    }

    /* Details Pats CSS */
    .grid-container {
        grid-template-columns: 1fr; 
    }
    .grid-container > .cart:last-child {
        margin: 0; 
        grid-column: span 1; 
    }

    /* Extra Part CSS */
    .reviewer {
        flex-direction: column;
        align-items: center;
    }
    .client-card {
        width: 100%;
    }

    /* Form Part CSS */
    .form-container{
        flex-direction: column;
        align-items: center;
    }
    .newsletter, .promotion{
        width: 75%;
    }

    /* Footer Part CSS */
    .footer-description{
        margin: 10px;
    }
}



@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    /* nav part */
    .nav-link{
        display: none;
    }
    .nav-toggle {
        display: inline;
    }

    /* Extra Part CSS */
    .reviewer {
        flex-direction: column;
        align-items: center;
    }
    .client-card {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
